# Node
node_modules
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS Artifacts
.DS_Store
Thumbs.db

# Build Artifacts
/dist
/build
/.next/
/out/

# Secrets
.env
.env.*
!/.env.example

# Turbo
.turbo/ 
.vercel
